# Editor files
*.un~
*.pem
*.swp

# Install files
.tmp/
Brewfile.lock.json
packages/tmux/config/plugins
packages/zsh/config/plugins/_*

# Package files
packages/nvim/config/journal
packages/zsh/config/.zsh_sessions

# Config files
lazy-lock.json
.zcompdump
.zhistory
.zsh_history
